# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build
/app/build/
/app/libs/
/app/bin/
/bin

#config/
serverlog
/payara*/
/config/resources/
/config/payara/payaradockersecrets

.vscode
!.vscode/settigns.json
*.env